*~
*.o
*.lo
*.la
*.orig
*.rej
*.loT
*.bin
*.pc
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian.upstream/changelog
debian.upstream/control
debian.upstream/libva-drm*.install
debian.upstream/libva-egl*.install
debian.upstream/libva-glx*.install
debian.upstream/libva-wayland*.install
debian.upstream/libva-x11*.install
debian.upstream/libva[0-9]*.install
depcomp
install-sh
libtool
ltmain.sh
/m4
missing
stamp-h1
/va/va_version.h
