*~
*.o
*.lo
*.la
*.orig
*.rej
*.loT
*.bin
*.pc
.deps
.libs
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
config.h
config.h.in
stamp-h1
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
TAGS
/va/va_version.h
/test/basic/test_01
/test/basic/test_02
/test/basic/test_03
/test/basic/test_04
/test/basic/test_05
/test/basic/test_06
/test/basic/test_07
/test/basic/test_08
/test/basic/test_09
/test/basic/test_10
/test/basic/test_11
/test/decode/mpeg2vldemo
/test/encode/h264encode
/test/encode/avcenc
/test/putsurface/putsurface
/test/vainfo
