*~
*.o
*.lo
*.la
*.orig
*.rej
*.loT
*.bin
*.pc
.deps
.libs
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
/m4
missing
stamp-h1
/va/va_version.h
/va/wayland/wayland-drm-client-protocol-export.c
/va/wayland/wayland-drm-client-protocol.*
