name: windows

on: [push, pull_request]

jobs:
  windows-msvc:
    runs-on: windows-2022
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v3
    - name: 'Setup Python'
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: 'Install Meson'
      run: pip install meson
    - name: 'Enter DevShell'
      run: '.github\workflows\EnterDevShell.ps1 ${{ inputs.architecture }}'
      shell: pwsh
    - name: 'Configure with meson'
      run: meson setup _build -D werror=true
    - name: 'Build'
      run: meson compile -C _build
    - name: 'Install'
      run: meson install -C _build

  windows-mingw:
    runs-on: windows-2022
    env:
      CC: gcc
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v3
    - name: 'Setup MSYS2'
      uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        update: false
        pacboy: >-
          toolchain:p
          meson:p
    - name: 'Enter DevShell'
      run: '.github\workflows\EnterDevShell.ps1 ${{ inputs.architecture }}'
      shell: pwsh
    - name: 'Configure'
      run: meson setup _build -D werror=true
    - name: 'Build'
      run: meson compile -C _build
    - name: 'Install'
      run: meson install -C _build
